name: Deploy to Stage

on:
  workflow_dispatch:
  push:
    branches:
      - dev
      
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Setting GIT
        run: git config --global url."https://${{ secrets.GLOBAL_TOKEN }}:x-oauth-basic@github.com/aziontech".insteadOf "https://github.com/aziontech"

      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Bump version and push tag
        id: tag_ver
        uses: anothrNick/github-tag-action@1.37.0
        env:
          RELEASE_BRANCHES: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PRERELEASE_SUFFIX: dev
          WITH_V: true

      - name: Refresh git
        run: git fetch --tags

      - name: set bin_version environment variable 
        run: echo "BIN_VERSION=$(git describe --tags)" >> $GITHUB_ENV